
.idea

# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
3
4	# User-specific stuff:
5	.idea/**/workspace.xml
6	.idea/**/tasks.xml
7	.idea/dictionaries
8
9	# Sensitive or high-churn files:
10	.idea/**/dataSources/
11	.idea/**/dataSources.ids
12	.idea/**/dataSources.xml
13	.idea/**/dataSources.local.xml